{% extends 'base.html' %}

{% block title %}
    Blog
{% endblock %}

{% block content %}
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Создание структуры сайта</h5>
                <small>2 дня назад</small>
            </div>
            <p class="mb-1">Сайт создан с помощью фреймворков Flask и Bootstrap</p>
            <!-- <small>C использованием фреймворков Flask и Bootstrap.</small>-->
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Заполнение главной страницы</h5>
                <small class="text-muted">2 дня назад</small>
            </div>
            <p class="mb-1">Вывод текущих даты и времени</p>
            <!-- <small class="text-muted">Вывод текущех даты и времени.</small> -->
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Заполнение страниц Blog и Contacts</h5>
                <small class="text-muted">2 дня назад</small>
            </div>
            <p class="mb-1">Использование компонентов Bootstrap</p>
            <!-- <small class="text-muted">И какой-то приглушенный мелкий шрифт.</small> -->
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Переделка страниц</h5>
                <small class="text-muted">1 день назад</small>
            </div>
            <p class="mb-1">Переделка главной страницы в Home, а страницы Contacts - в About</p>
            <!-- <small class="text-muted">И какой-то приглушенный мелкий шрифт.</small> -->
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Переделка сайта с использование шаблонизатора Jinja</h5>
                <small class="text-muted">1 день назад</small>
            </div>
            <p class="mb-1">Использование шаблонов Jinja</p>
            <!-- <small class="text-muted">И какой-то приглушенный мелкий шрифт.</small> -->
        </a>
    </div>
{% endblock %}


